
@{
    ViewBag.Title = "coTables";
    var chars = "ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
    var rand = new Random();
    var result = new string(
    Enumerable.Repeat(chars, 8)
              .Select(s => s[rand.Next(s.Length)])
              .ToArray());
}

<h2>coTables</h2>

<table id="coTable">
    <thead>
        <tr>
            <th>Head 1 Really long</th>
            <th>Head 2</th>
            <th>Head 3</th>
        </tr>
    </thead>
    <tbody>
        @for(int i = 0; i < 25; i++) {
            <tr>
                <td>@Html.Encode(
                    new string(
                        Enumerable.Repeat(chars, 1)
                        .Select(s => s[rand.Next(s.Length)])
                        .ToArray())
                )</td>
                <td>@Html.Encode(
                    new string(
                        Enumerable.Repeat(chars, 2)
                        .Select(s => s[rand.Next(s.Length)])
                        .ToArray())
                )</td>
                <td>@Html.Encode(
                    new string(
                        Enumerable.Repeat(chars, 3)
                        .Select(s => s[rand.Next(s.Length)])
                        .ToArray())
                )</td>
            </tr>
        }
    </tbody>
</table>
<div id="coLoadWrapper"></div>

<script type="text/javascript" src="~/Scripts/coTables.js"></script>
<script type="text/javascript" src="~/Scripts/FileSaver.js"></script>
<script type="text/javascript" src="~/Scripts/Blob.js"></script>
<script type="text/javascript" src="~/Scripts/xlsx.js"></script>
<script type="text/javascript" src="~/Scripts/jszip.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#coTable").coTable({
            imgPath: "/Content/css/coTableImg/"
        });
    })
</script>