@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="left" style="margin-right:10px; padding-right:10px">
        <img src="~/Content/Images/me_small.png" height="250" />
    </div>
    <div>
        <h1>Craig Oley</h1>
        <br /><br />
        <p class="lead" style="color:#fff">I am a Software Engineer, Architect, and Technology Enthusiast from Pittsburgh, PA.</p>
        <p><a href="/Home/Resume" class="btn btn-primary btn-lg">My Resume &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>

        </p>
    </div>
    <div class="col-md-4">
        <h3>Get In Touch</h3>
        <p></p>
        <p>
            <a class="btn btn-default btn-lg" href="http://linkedin.com/pub/craig-oley/11/aa1/42a" target="_blank">
                <i class="fa fa-linkedin fa-lg"></i>
            </a>
            <a class="btn btn-default btn-lg" href="http://github.com/cao825" target="_blank">
                <i class="fa fa-github fa-lg"></i>
            </a>
            <a class="btn btn-default btn-lg" href="http://facebook.com/craig.oley" target="_blank">
                <i class="fa fa-facebook fa-lg"></i>
            </a>
            <a class="btn btn-default btn-lg" href="http://plus.google.com/u/0/+CraigOley/" target="_blank">
                <i class="fa fa-google-plus fa-lg"></i>
            </a>
            <a class="btn btn-default btn-leg" href="http://500px.com/cao825" target="_blank">
                <span class="my-fa-lg">&infin;</span>
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
    </div>
</div>