@{
    ViewBag.Title = "Projects";
}
<h2>@ViewBag.Title</h2>

<div class="row">
    <a style="display:block" href="http://CraigOley.com">
        <div class="col-md-5 shade-box hover-box">
            <h3>CraigOley.com</h3>
            <br />
            <img src="~/Content/Images/CraigOleycom_thumb.jpg" />
            <br /><br />
            <p>
                Personal website developed in ASP.NET (with MVC and Web API) hosted on Azure with a SQL server database.
                Includes usage of several front-end packages including: jquery, bootstrap, and Font Awesome.
            </p>
        </div>
    </a>

    <div class="col-md-5">
        <h2></h2>
        <p>

        </p>
    </div>
</div>